@import "tailwindcss";

@theme {
  /* ---- COLORS ---- */
  --color-blue-300: #d0d6f9;
  --color-blue-900: #0b0d17;

  --color-white: #ffffff;

  /* ---- TYPOGRAPHY ---- */
  --font-bellefair: "Bellefair", serif;
  --font-barlow-condensed: "Barlow Condensed", sans-serif;
  --font-barlow: "Barlow", sans-serif;
}

/* ---- DESKTOP ---- */
@utility desktop-text-preset-1 {
  font-size: 144px;
  letter-spacing: 0px;
  @apply font-bellefair font-normal;
}

@utility desktop-text-preset-2 {
  font-size: 96px;
  letter-spacing: 0px;
  @apply font-bellefair font-normal;
}

@utility desktop-text-preset-3 {
  font-size: 56px;
  letter-spacing: 0px;
  @apply font-bellefair font-normal;
}

@utility desktop-text-preset-4 {
  font-size: 32px;
  letter-spacing: 0px;
  @apply font-bellefair font-normal;
}

@utility desktop-text-preset-5 {
  font-size: 28px;
  letter-spacing: 4px;
  @apply font-normal font-barlow-condensed;
}

@utility desktop-text-preset-6 {
  font-size: 28px;
  letter-spacing: 0px;
  @apply font-bellefair font-normal;
}

@utility desktop-text-preset-7 {
  font-size: 14px;
  letter-spacing: 2px;
  @apply font-barlow-condensed font-normal;
}

@utility desktop-text-preset-8 {
  font-size: 16px;
  letter-spacing: 2px;
  @apply font-barlow-condensed font-normal;
}

@utility desktop-text-preset-8-bold {
  font-size: 16px;
  letter-spacing: 2.7px;
  @apply font-barlow-condensed font-bold;
}

@utility desktop-text-preset-9 {
  font-size: 18px;
  line-height: 1.8;
  letter-spacing: 0px;
  @apply font-barlow font-normal;
}

/* ---- TABLET ---- */
@utility tablet-text-preset-2 {
  font-size: 80px;
  letter-spacing: 0px;
  @apply font-bellefair font-normal;
}

@utility tablet-text-preset-3 {
  font-size: 40px;
  letter-spacing: 0px;
  @apply font-bellefair font-normal;
}

@utility tablet-text-preset-4 {
  font-size: 24px;
  letter-spacing: 0px;
  @apply font-bellefair font-normal;
}

@utility tablet-text-preset-5 {
  font-size: 20px;
  letter-spacing: 0.15em;
  @apply font-barlow-condensed font-normal;
}

@utility tablet-text-preset-9 {
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0px;
  @apply font-barlow font-normal;
}

/* ---- MOBILE ---- */
@utility mobile-text-preset-1 {
  font-size: 80px;
  letter-spacing: 0px;
  @apply font-bellefair font-normal;
}

@utility mobile-text-preset-2 {
  font-size: 56px;
  letter-spacing: 0px;
  @apply font-bellefair font-normal;
}

@utility mobile-text-preset-3 {
  font-size: 24px;
  letter-spacing: 0px;
  @apply font-normal font-bellefair;
}

@utility mobile-text-preset-4 {
  font-size: 18px;
  letter-spacing: 0px;
  @apply font-normal font-bellefair;
}

@utility mobile-text-preset-6 {
  font-size: 16px;
  letter-spacing: 0.15em;
  @apply font-barlow-condensed font-normal;
}

@utility mobile-text-preset-8 {
  font-size: 14px;
  letter-spacing: 0.15em;
  @apply font-barlow-condensed font-normal;
}

@utility mobile-text-preset-9 {
  font-size: 15px;
  line-height: 1.8;
  letter-spacing: 0px;
  @apply font-barlow font-normal;
}
